<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/main.css" />
    <title>Пользователи магазина</title>
</head>
<body>
    <header class="header">
		<div class="wrapper">
			<nav class="nav">
				<div class="logo">
					<img src="../../../static/img/logo.svg" alt="logo" width="124"/>
				</div>

				<ul class="menu">
					<li class="menu-item"><a href="#">главная</a></li>
					<li class="menu-item"><a href="#">каталог</a></li>
					<li class="menu-item"><a href="#">контакты</a></li>
				</ul>
				<a href="#" class="header-btn">Записаться</a>
			</nav>
		</div>
	</header>
	<section class="banner">
		<div class="overlay"></div>
		<div class="wrapper">
			<div class="banner-box">
				<h1 class="banner-box_title">
					Готовые игровые<br /><span>сборки ПК</span> 
				</h1>
				<p class="banner-box_info">
					Мощные компьютеры для игр, работы и творчества.
					Собрано экспертами, протестировано профессионалами.
				</p>
				<div class="banner-btn__container">
					<a href="#feedback" class="banner-btn">Посмотреть каталог</a>
					<a href="#courses" class="more-btn">Консультация</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>